.container {
  padding: 4.5rem 0 0 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  margin: auto;
  padding: 0 1.5rem;
  max-width: 850px;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.title,
.logo {
  margin: 0;
  line-height: 0;
  font-size: 0;
  color: transparent;
  width: 50%;
  padding-top: 9.8%;
  background-image: url(../public/logo-charitaffle.png);
  background-position: center;
  background-size: cover;
}

.slogan {
  color: var(--main-gray);
  border-color: var(--main-gray);
  border-radius: 3rem;
  background-color: transparent;
  border: 0.1rem outset;
  padding: 0.7rem 2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}

.subtitle {
  display: block;
  font-size: 1.7rem;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  color: var(--main-dark-blue);
  margin: 0 0 1rem 0;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  width: 100%;
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  word-wrap: break-word;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  position: absolute;
  top: 1.2rem;
  left: 1rem;
  width: 160px;
  height: 31.5px;
  padding-top: 0;
}

#createRaffleForm,
#raffleList {
  width: 100%;
  margin-bottom: 2rem;
  border: 1px solid var(--main-light-grey);
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--main-white);
  box-shadow: 0 0.1rem 1rem rgba(20, 29, 55, 0.15);
}

#createRaffleForm form {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

#createRaffleForm label {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#createRaffleForm label span {
  display: inline-flex;
}

.tooltip {
  position: relative;
  display: inline-flex;
  margin: 3px 0 0 2px;
  padding: 0.5px 4.2px;
  background-color: var(--main-dark-blue);
  border: 1px solid var(--main-dark-blue);
  border-radius: 20px;
  color: var(--main-white);
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 0.7rem;
  cursor: help;
}

.tooltip .tiptext {
  position: absolute;
  bottom: 150%;
  left: 50%;
  width: 200px;
  visibility: hidden;
  background-color: #e1e1e1;
  border: 1px solid var(--main-light-grey);
  color: var(--main-grey);
  text-align: center;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  border-radius: 5px;
  margin-left: -100px;
  padding: 0.5rem;
  z-index: 1;
  box-shadow: 0 3px 10px rgba(20, 29, 55, 0.2);
}

.tooltip .tiptext::after {
  content: "";
  position: absolute;
  margin-left: -5px;
  top: 100%;
  left: 50%;
  border: 5px solid;
  border-color: var(--main-light-grey) transparent transparent transparent;
}

.tooltip:hover .tiptext {
  visibility: visible;
}

#createRaffleForm input {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  border: 1px solid var(--main-light-grey);
  border-radius: 1rem;
  margin: 5px 0 14px 0;
  padding: 0.5rem 1rem;
}

#createRaffleForm button {
  display: block;
  margin: 0.9rem auto 0;
}

#raffleList p {
  text-align: center;
}

#raffleList ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 10px;
}

#raffleList ul li {
  padding: 0.4rem 0.75rem;
  display: flex;
  justify-items: stretch;
  align-items: center;
  height: 2.7rem;
  border-bottom: 1px solid rgb(238, 238, 238);
}

#raffleList ul li:last-child {
  border-bottom: none;
}

#raffleList ul li div {
  display: inline-flex;
}

#raffleList ul li div:first-child{
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}

#raffleList ul li div span:first-child {
  font-size: 0;
  color: transparent;
  background-image: url(../public/icon-participants.png);
  background-size: cover;
  width: 1rem;
  height: 1rem;
  margin-right: 3px;
}

#raffleList ul li button {
  font-size: 0.7rem;
  padding: 1px 8px;
  margin-left: 1rem;
  display: inline-flex;
  justify-self: end;
  align-items: center;
  font-weight: 700;
  border-style: solid;
  color: var(--main-white);
  border-color: var(--main-dark-blue);
  background-color: var(--main-dark-blue);
}

#raffleList ul li button:hover,
#raffleList ul li button:active,
#raffleList ul li button:target {
  border-style: outset;
}

#raffleList ul li button span {
  display: inline-flex;
}

#raffleList ul li button span:last-child {
  font-size: 0;
  color: transparent;
  background-image: url(../public/icon-ticket.png);
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 3px;
  rotate: 45deg;
}

.footer {
  display: flex;
  flex: 0 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--main-white);
  padding: 2rem 0;
  border-top: 1px solid var(--main-dark-blue);
  background: rgb(20, 47, 97);
  background: linear-gradient(
    16deg,
    rgba(20, 47, 97, 1) 0%,
    rgba(20, 29, 55, 1) 30%,
    rgba(20, 29, 55, 1) 60%,
    rgba(42, 114, 141, 1) 100%
  );
}

.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 0.3rem 0;
}

.footer a {
  text-decoration: underline;
  margin: 0 4px;
}

.github {
  display: inline-block;
  width: 50px;
  height: 23px;
  font-size: 0;
  color: transparent;
  background-image: url(../public/logo-github.png);
  background-position: center;
  background-size: cover;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.transactionResult {
    display: flex;
    background-color: var(--main-dark-blue);
    border: 1px solid var(--main-grey);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.1rem 1rem rgba(20, 29, 55, 0.15);
}