.container {
  padding: 3rem 0 0 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  margin: auto;
  padding: 0 1.5rem;
  max-width: 850px;
  flex: 100 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.title,
.logo {
  margin: 0;
  line-height: 0;
  font-size: 0;
  color: transparent;
  width: 50%;
  padding-top: 9.8%;
  background-image: url(../public/logo-charitaffle.png);
  background-position: center;
  background-size: cover;
}

.slogan {
  color: var(--main-gray);
  border-color: var(--main-gray);
  border-radius: 3rem;
  background-color: transparent;
  border: 0.1rem outset;
  padding: 0.7rem 2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}

.subtitle {
  display: block;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  color: var(--main-dark-blue);
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  position: absolute;
  top: 1.2rem;
  left: 1rem;
  width: 160px;
  height: 31.5px;
  padding-top: 0;
}

#createRaffleForm,
#raffleList {
  border: 1px solid var(--main-grey);
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--main-white);
  box-shadow: 0 0.1rem 1rem rgba(20, 29, 55, 0.15);
}

#createRaffleForm button{
  display: block;
  margin: .9rem auto 0;
}

.footer {
  display: flex;
  flex: 0 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--main-white);
  padding: 3rem 0;
  border-top: 1px solid var(--main-dark-blue);
  background: rgb(20, 47, 97);
  background: linear-gradient(
    16deg,
    rgba(20, 47, 97, 1) 0%,
    rgba(20, 29, 55, 1) 30%,
    rgba(20, 29, 55, 1) 60%,
    rgba(42, 114, 141, 1) 100%
  );
}

.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer a {
  text-decoration: underline;
  margin: 0 4px;
}

.github{
  display: inline-block;
  width: 50px;
  height: 23px;
  font-size: 0;
  color: transparent;
  background-image: url(../public/logo-github.png);
  background-position: center;
  background-size: cover;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.transactionResult {
    display: flex;
    background-color: var(--main-dark-blue);
    border: 1px solid var(--main-grey);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.1rem 1rem rgba(20, 29, 55, 0.15);
}